/* font-family: 'Inter', sans-serif; */
/* font-family: 'Karla', sans-serif; */

body {
  background: #ecfdf5;
  font-family: "Inter", sans-serif;
}

.container {
  width: 550px;
  background: #1f2937;
  margin: 100px auto;
  padding: 115px 53px;
  border-radius: 20px;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  position: relative;
}

h1 {
  color: #fff;
  font: 800 40px "Karla", sans-serif;
}

h1 span {
  color: #4adf86;
}

header p {
  color: #d5d4d8;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 51px;
}

form section {
  width: 250px;
  color: #10b981;
  border: 1px solid #10b981;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form div {
  display: flex;
  align-items: center;
  gap: 10px;
}

input:hover {
  cursor: pointer;
}

#length {
  color: #059669;
  font: 500 16px "Inter", sans-serif;
  padding: 3px 0;
  text-align: center;
  background: #d1fae5;
  border: 1px solid;
  width: 50px;
}

.check {
  appearance: auto;
}

label {
  font-size: 16px;
  font-weight: 500;
}

button {
  width: 191px;
  height: 42px;

  color: #fff;
  background: #10b981;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;

  margin: 51px 0 44px;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.passwords {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #2f3e53;
  padding-top: 39px;
}

.password {
  width: 211px;
  height: 39px;
  background: #273549;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.password:hover {
  filter: brightness(1.5);
  cursor: pointer;
}

.password p {
  padding: 0 10px;
  color: #55f991;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.copy.hidden {
  display: none;
}

.copy {
  width: 200px;
  color: #fff;
  background: #10b981;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  position: absolute;
  bottom: 30px;
  left: calc(50% - 100px);
}
